VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="680a11a8002eb579582c"
VITE_APPWRITE_DATABASE_ID="680a133900108313ec47"
VITE_APPWRITE_BUCKET_ID="680a14ec00184a3dbfc4"
VITE_APPWRITE_COLLECTION_ID="680a138600223ea6036b"